/*--------------STYLING--------------*/


h1 {
    font-family: monospace;
}

p {
    font-family: arial;
    font-weight: lighter;
}


/*--------------FORSIDE--------------*/
#forside {
    background-image: linear-gradient(#495469, rgba(255, 209, 55, 0.26));
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.pynt {}

.profil img {
    margin: 6vw 0vw 0vw 0vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.profil h2 {
    text-align: center;
    font-family: monospace;
    color: #fffaf2;
    font-weight: lighter;
    text-shadow: 1px 1px rgb(95, 95, 95);

}

.profiltekst {
    background-color: rgba(0, 0, 0, 0.26);
    color: whitesmoke;
    margin: auto;
    width: 31%;
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;

}

#forside_nav {
    text-align: center;
    margin: 3vw 0vw 0vw 0vw;
}


#forside a {

    background-color: rgb(185, 179, 165);
    text-decoration: none;
    font-family: arial;
    font-weight: lighter;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 1px 4px rgba(121, 121, 121, 0.55);

}

#forside a:hover {
    background-color: rgb(137, 146, 163);
    box-shadow: 3px 3px 4px rgb(72, 72, 72);
}


#forside a:visited {
    background-color: rgb(108, 115, 128);
}



/*-------NAVMENU---------*/

.hidden {
    opacity: 0;
}


#menuknap {
    display: inline-block;
    cursor: pointer;
    font-size: 1.5em;

}

#menu {

    list-style-type: none;
    transition: opacity 0.2s;
    transform-origin: top left;

}

#menu a {
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}

#menu a:hover {
    text-decoration: none;
    color: #6868a2;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2em;
}



@media only screen and(max-width: 700px) {
    #menu {}

}

/*--------------INTRO UGE--------------*/

#tema0 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#tema0 .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 300px;
    flex-direction: column;
    flex-grow: 1;


}


#tema0 {
    background-image: linear-gradient(#ffffff, rgba(255, 155, 155, 0.35));
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

#tema0 img {
    margin: 6vw 0vw 0vw 0vw;
    display: block;
    width: 60%;
    margin: auto;

}

#tema0 .tekst {
    display: block;
    margin: auto;
    margin-top: 5vw;
    width: 60%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

}

#tema0 h1 {
    text-align: center;
    height: auto;
}


/*--------------WEB DESIGN--------------*/

#tema1 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#tema1 .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 500px;
    flex-direction: column;
    flex-grow: 1;


}


#tema1 {
    background-image: linear-gradient(#ffffff, rgba(255, 155, 155, 0.35));
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

}

#tema1 img {
    margin: 6vw 0vw 0vw 0vw;
    display: block;
    width: 60%;
    margin: auto;

}

#tema1 .tekst {
    display: block;
    margin: auto;
    margin-top: 5vw;
    width: 60%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

}

#tema1 h1 {
    text-align: center;
    height: auto;
}

#tema1 .sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
}

#tema1 .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 300px;
    flex-direction: column;
    flex-grow: 1;
}

.charm {}


/*--------------INDHOLD--------------*/



/*--------------ANIMATION--------------*/



/*--------------UX--------------*/
